.intro {
    border: solid black 4px;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.intro h2 {
    padding: -1em;
    margin: -5px;
}

.intro-text {
    padding: 0.5em;
    color: black;
    
}