header {
  width: 350px;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

body {
  margin: 0 auto;
  font-family: 'Rubik', Helvetica-Neue, Helvetica, Arial, sans-serif;
  font-size: small;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #EBF5FF; */
}

body p {
  font-size: smaller;
}

/* desktop */
@media all and (min-width: 600px) {
  header {
  width: initial;
  height: initial;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
}