.landing-title {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: xxx-large;
    color: #FFC485;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}



/* desktop */

@media all and (min-width: 600px) {
    .landing-title {
        text-align: left;
    }
}