.project-title {
    font-size: xx-large;
    margin-bottom: 0;
}

.project-card {
    border: solid 4px black;
    margin-bottom: 10px;
}

.project-details {
    margin: 0.5em;
}

.site-row {
    display: flex;
    flex-direction: row;
}

.project-pic {
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.site {
    border-radius: 8px;
    width: 80px;
    height: 25px;
    text-align: center;
    background: #FFC485;
    border: solid black 2px;
    margin-right: 5px;
    padding: 0.2em;
}

.stack {
    margin: 20px 10px 10px 10px;
    text-align: center;
}
